@media screen {
    #story {
        margin: auto;
        max-width: 900px;
        min-width: 700px;
    }
    #story2 {
        margin: auto;
        max-width: 900px;
        min-width: 700px;
    }
    #story3 {
        margin: auto;
        max-width: 900px;
        min-width: 700px;
    }
    h1 {
        margin-top: 40px;
        font-weight: bold;
    }
    h1 {
        text-align: center;
    }
    h2 {
        text-align-last: center;
    }
    body {
        padding-left: 100px;
        padding-right: 100px;
    }
    img {
        width: 700px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    h5 {
        text-align: center;
        font-size: small;
    }
    #Gluck {
        text-align: center;
    }
    #header {
        padding-top: 200px;
    }
    p {
        width: 100%;
        text-align: left;
    }
    #disclaimer {
        font-style: italic;
    }
    #tweet {
        margin: auto;
    }
    .pquote {
        width: 100%;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        float: left;
        padding: 50px;
        margin: 0 13px 13px 0;
    }
    blockquote {
        margin: auto;
    }
}
