@media screen {
    #story {
        margin: auto;
        max-width: 900px;
        min-width: 700px;
    }
    #story2 {
        margin: auto;
        max-width: 900px;
        min-width: 700px;
    }
    #story3 {
        margin: auto;
        max-width: 900px;
        min-width: 700px;
    }
    h1 {
        margin-top: 40px;
        font-weight: bold;
    }
    h1 {
        text-align: center;
    }
    h2 {
        text-align-last: center;
    }
    img {
        width: 700px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    h5 {
        text-align: center;
        font-size: small;
    }
    #Gluck {
        text-align: center;
    }
    #header {
        padding-top: 200px;
    }
    p {
        width: 100%;
        text-align: left;
    }
    #disclaimer {
        font-style: italic;
    }
    #tweet {
        border: red;
    }
    .quote {
        margin: auto;
        width: 100%;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        padding: 25px 25px 25px 25px;
    }
    .attribution {
        margin: auto;
        width: 100%;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        padding: 25px 25px 25px 25px;
    }
}
