@media screen {
    h1 {
        margin-top: 40px;
        font-weight: bold;
    }
    h1 {
        text-align: center;
    }
    img {
        width: 700px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    h5 {
        text-align: center;
        font-size: small;
    }
    #Gluck {
        text-align: center;
    }
    p {
        width: 100%;
    }
    #tweet {
        margin: auto;
    }
    .pquote {
        width: 100%;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        float: left;
        padding: 50px;
        margin: 0 13px 13px 0;
    }
    blockquote {
        margin: auto;
    }
}
