@media screen {
    #story {
        margin: auto;
        max-width: 900px;
        min-width: 700px;
    }
    #story2 {
        margin: auto;
        max-width: 900px;
        min-width: 700px;
    }
    #story3 {
        margin: auto;
        max-width: 900px;
        min-width: 700px;
    }
    h1 {
        margin-top: 40px;
        font-weight: bold;
    }
    h1 {
        text-align: center;
    }
    h2 {
        text-align-last: center;
    }
    img {
        width: 700px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    h5 {
        text-align: center;
        font-size: small;
    }
    #Gluck {
        text-align: center;
    }
    #header {
        padding-top: 200px;
    }
    p {
        width: 100%;
        text-align: left;
    }
    #disclaimer {
        font-style: italic;
    }
    .quote {
        border-top: solid;
        border-width: thick;
        border-color: navy;
        margin: auto;
        color: black;
        width: 100%;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        padding: 20px 0 10px 0;
        background-color: #d3d3d3;
    }
    .attribution {
        border-bottom: solid;
        border-width: thick;
        border-color: navy;
        color: black;
        margin: auto;
        width: 100%;
        text-align: center;
        font-size: 20px;
        padding: 10px 0 20px 0;
        background-color: #d3d3d3;
    }
}
@media (min-width: 576) {
    img {
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
