/*
 * #000000 - black
 * #004AAD - dark blue
 * #D4D2FF - light purple
 * #FC4493 - pink
 * #422F87 - purple
 */

@media screen {
    img {
        width: 100%;
        margin-right: 200px;
        margin-top: 100px;
        border: 5px solid black;
    }

    h1 {
        font-family: "Open Sans", sans-serif;
        text-transform: capitalize;
        text-align: center;
        color: #004aad;
        font-size: 45px;
        font-weight: 500;
    }

    h2 {
        font-family: "Open Sans", sans-serif;
        text-transform: capitalize;
        text-align: center;
        font-weight: bold;
        font-size: 35px;
    }

    button {
        font-family: "Open Sans", sans-serif;
        text-transform: capitalize;
        background-color: #422f87;
        width: 150px;
        text-align: center;
        padding: 10px;
        border: none;
        font-weight: bold;
        border-radius: 10px;
        display: block;
        margin: auto;
    }

    button a {
        text-decoration: none;
        color: white;
    }

    button:hover {
        background-color: #fc4493;
    }

    #navigation {
        font-family: "Open Sans", sans-serif;
        text-transform: capitalize;
        font-weight: bold;
        text-align: center;
        background-color: #422f87;
        padding: 10px;
    }

    #navigation a {
        text-decoration: none;
        color: white;
    }

    h4 {
        font-family: "Open Sans", sans-serif;
        text-transform: capitalize;
        font-weight: bold;
        text-align: left;
        margin-left: 50px;
    }
    ul {
        text-align: left;
        margin-left: 100px;
        list-style-type: none;
    }

    hr {
        color: black;
    }

    p {
        font-family: "Open Sans", sans-serif;
        margin-left: 100px;
    }

    body {
        background-color: #d4d2ff;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }

    img {
        width: 60%;
    }
}

@media (min-width: 768px) {
    img {
        width: 60%;
    }
}

@media (min-width: 992px) {
    img {
        width: 35%;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 100px;
    }
    h2 {
        font-size: 50px;
    }
}
